<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BashJS</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/0b70cd8c-2a82-4013-9ef5-bb9a1ad7cfd9%2Fbash.png?1527876950528" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="client.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
  </head>
  <body id="main" bgcolor="black" onclick="document.getElementById('commandinput').focus(true)">
    <pre id="joinmessage">
 ____            _          _  _____ 
|  _ \          | |        | |/ ____|    Developed by:
| |_) | __ _ ___| |__      | | (___
|  _ / / _` / __| '_ \ _   | |\___ \     -HrX
| |_) | (_| \__ \ | | | |__| |____) |    -vKredGod
|____/ \__,_|___/_| |_|\____/|_____/ 
                                    
    </pre>
    <div id="console" style="display: inline;" onclick="document.getElementById('commandinput').focus(true)"></div>
    <textarea autofocus charswidth="18" id="commandinput" onclick="document.getElementById('commandinput').focus(true)"></textarea>
    <input id="secretbutton" style="display: none;" onclick="command()" autofocus>
  </body>
</html>